# Multi-level Regression with Postratification

In [5]:
import pandas as pd
import os

In [16]:
wd = os.getcwd()

In [17]:
dss = f'{wd}/Data'

In [22]:
demog = pd.read_csv(f'{dss}/ONS_demographics.csv')

In [23]:
demog

,Post-2019 Westminster Parliamentary constituencies Code,Post-2019 Westminster Parliamentary constituencies,Age (6 categories) Code,Age (6 categories),Sex (2 categories) Code,Sex (2 categories),Highest level of qualification (7 categories) Code,Highest level of qualification (7 categories),Observation
0,E14001063,Aldershot,1,Aged 15 years and under,1,Female,-8,Does not apply,10524
1,E14001063,Aldershot,1,Aged 15 years and under,1,Female,0,No qualifications,0
2,E14001063,Aldershot,1,Aged 15 years and under,1,Female,1,Level 1 and entry level qualifications: 1 to 4...,0
3,E14001063,Aldershot,1,Aged 15 years and under,1,Female,2,Level 2 qualifications: 5 or more GCSEs (A* to...,0
4,E14001063,Aldershot,1,Aged 15 years and under,1,Female,3,Level 3 qualifications: 2 or more A levels or ...,0
...,...,...,...,...,...,...,...,...,...
48295,W07000112,Ynys Môn,6,Aged 65 years and over,2,Male,1,Level 1 and entry level qualifications: 1 to 4...,392
48296,W07000112,Ynys Môn,6,Aged 65 years and over,2,Male,2,Level 2 qualifications: 5 or more GCSEs (A* to...,605
48297,W07000112,Ynys Môn,6,Aged 65 years and over,2,Male,3,Level 3 qualifications: 2 or more A levels or ...,836
48298,W07000112,Ynys Môn,6,Aged 65 years and over,2,Male,4,"Level 4 qualifications or above: degree (BA, B...",2674
48299,W07000112,Ynys Môn,6,Aged 65 years and over,2,Male,5,"Other: apprenticeships, vocational or work-rel...",1814